name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run a multi-line script
        run: |
            echo Hello, world!
            echo Add other actions to build,
            echo test, and deploy your project.
            >
            Hello, world!\n
            Add other actions to build,
            test, and deploy your project.
            
