name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Run a multi-line script line by line
        run: |
            echo Hello, world!
            echo Add other actions to build,
            echo test, and deploy your project.
      - name: Run a multi-line script as paragraph
        run: >
            echo Hello, world!
            \n
            echo Add other actions to build,
            echo test, and deploy your project.
            
